<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>The Solar System</title>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <hr />
        <nav>
            <a href="/"><span id="current">Home</span></a>
            <a href="/mercury">Mercury</a>
            <a href="/venus">Venus</a>
            <a href="/earth">Earth</a>
            <a href="/mars">Mars</a>
        </nav>