<%- include('partials/header.ejs') %>
        <h1>Mars</h1>
        <img src="/img/mars.jpg" alt="mars">
        <p>Mars is the forth closest planet to our sun and is named after the Roman god of war.</p>
        <p>Mars is the second smallest planet in our solar system.</p>
        <p>Mars is one of the four terrestrial planets in our solar system, meaning it is primarily composed of rock or metal.</p>
        <p>Mars gets its red color from the iron oxide prevelent on its surface.</p>
        <p>Mars hass days and seasons comparible to that on earth.</p>
        <p>Mars is home to the largest volcano and tallest mountain known in the solar system, the Olympus Mons. Its Valles Marineris is also the largest known canyon in the solar system.</p>
<%- include('partials/footer.ejs') %>