<%- include('partials/header.ejs') %>
        <h1>Mercury</h1>
        <img src="/img/mercury.jpg" alt="mercury">
        <p>Mercury is the closest planet to our sun.</p>
        <p>Mercury is the smallest planet in our solar system.</p>
        <p>Mercury is one of the four terrestrial planets in our solar system, meaning it is primarily composed of rock or metal.</p>
        <p>Mercury hosts the largest known crater in our solar system: the caloris basin.</p>
<%- include('partials/footer.ejs') %>