<%- include('partials/header.ejs') %>
        <h1>Venus</h1>
        <img src="/img/venus.jpeg" alt="venus">
        <p>Venus is the second closest planet to our sun and is the second brightest object in Earth's night sky aside from the moon.</p>
        <p>Aside from Uranas, Venus is the only other planet to rotate in the opposite direction as the others, meaning the sun sets in the east and rises in the west.</p>
        <p>Venus' solar lap is shorter than Earth's by over 100 days, and a single day on venus equates to 116 days and 18 hours on earth, meaning a year on Venus is less than two of its full days.</p>
        <p>Venus' atmosphere is incredibly dense, pressure at its surface is 92 times what it is on earth's surface.</p>
        <p>The name Venus comes from the roman goddess of love and beauty.</p>
<%- include('partials/footer.ejs') %>